<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="myConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss,SSS} %-5p [%t] %c{2.} - %m%n%ex" />
        </Console>

        <!--<RollingFile name="infoAppender" fileName="./user_center_info.log" filePattern="./user_center_info.log.%d{yyyy-MM-dd}.log">-->
            <!--<PatternLayout>-->
                <!--<Pattern>[%d{yyyy-MM-dd HH:mm:ss SSS} 1] [user] [%-5level] [appKey:%X{appkey}] [traceId:%X{traceId}] [%t] %c - %m%n%ex</Pattern>-->
            <!--</PatternLayout>-->
            <!--<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<Policies>-->
                <!--<TimeBasedTriggeringPolicy />-->
            <!--</Policies>-->
        <!--</RollingFile>-->

    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="myConsole" />
            <!--<AppenderRef ref="infoAppender" />-->
        </Root>

        <!--<logger name="info" level="INFO" additivity="true">-->
            <!--<appender-ref ref="infoAppender"/>-->
        <!--</logger>-->

    </Loggers>

</Configuration>
