<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.gump.study.dao.RoleDao">

    <resultMap id="roleMap" type="org.gump.study.pojo.Role">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="note" column="note"/>
    </resultMap>

    <select id="getRole" parameterType="long" resultType="org.gump.study.pojo.Role">
      select * from t_role where id=#{id}
    </select>

    <select id="findRoles" parameterType="string" resultMap="roleMap" >
      select ID,role_name,note from t_role
        <trim prefix="where" prefixOverrides="and">
            <if test='roleName != null and roleName !=""'>
                and role_name like concat('%',#{roleName},'%')
            </if>
        </trim>
    </select>

    <insert id="insertRole" parameterType="org.gump.study.pojo.Role" keyProperty="id" useGeneratedKeys="true">
      insert into t_role (role_name,note) values (#{roleName},#{note})
    </insert>



</mapper>
