<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.gump.study.dao.StudentDao">

    <resultMap id="studentMap" type="org.gump.study.pojo.Student">
        <id property="id" column="id"/>
        <result property="name" column="sname"/>
        <result property="gender" column="gender"/>
        <result property="note" column="note"/>
        <association property="studentCard" column="id" fetchType="lazy"
                     select="org.gump.study.dao.StudentCardDao.findStudentCardByStudentId"/>
        <collection property="studentCourseList" column="id" fetchType="lazy"
                    select="org.gump.study.dao.StudentCourseDao.findStudentCourseByStuId"/>

        <discriminator javaType="int" column="gender">
            <case value="0" resultMap="maleStudentMap"></case>
            <case value="1" resultMap="femaleStudentMap"></case>
        </discriminator>
    </resultMap>

    <select id="getStudent" parameterType="long" resultMap="studentMap">
      select * from t_student where id=#{id}
    </select>

    <select id="findStudents" resultMap="studentMap">
      select * from t_student where id in
      <foreach collection="ids" close=")" open="(" index="index" item="id" separator=",">
          #{id}
      </foreach>
    </select>

    <resultMap id="maleStudentMap" type="org.gump.study.pojo.MaleStudent" extends="studentMap">
        <collection property="studentHealthMales" column="id"
                    select="org.gump.study.dao.MaleStudentDao.findStudentHealthMaleByStuId"/>
    </resultMap>

    <resultMap id="femaleStudentMap" type="org.gump.study.pojo.FemaleStudent" extends="studentMap">
        <collection property="studentHealthFemales" column="id"
                    select="org.gump.study.dao.FemaleStudentDao.findStudentHealthFemaleByStuId"/>
    </resultMap>

</mapper>
