<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.gump.study.dao.UserDao">

    <resultMap id="userMap" type="org.gump.study.pojo.User">
        <id property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>

        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <!--<result property="sex" column="sex" javaType="org.gump.study.enums.Sex" jdbcType="INTEGER"-->
                <!--typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>-->

        <!--<result property="sex" column="sex"-->
                <!--typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>-->

        <result property="description" column="description"
                typeHandler="org.gump.study.typehandler.MyStringTypeHandler"/>

    </resultMap>


    
    <select id="getUser" parameterType="long" resultType="org.gump.study.pojo.User" resultMap="userMap">
      select id,name,description,sex from i_user where id=#{id}
    </select>

    <select id="countFirstName" parameterType="string" resultType="int">
      select count(*) from i_user where name like concat(#{firstName},'%')
    </select>

    <select id="getUserInfo" parameterType="string" resultType="org.gump.study.pojo.User" resultMap="userMap">
      select id,name,description,sex from i_user where name like concat('%',#{name javaType=string,jdbcType=VARCHAR,typeHandler=org.gump.study.typehandler.MyStringTypeHandler},'%')
    </select>

    <insert id="insertUser" parameterType="org.gump.study.pojo.User">
      insert into i_user (name,description,sex) values (#{name},#{description},#{sex})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
      delete from i_user where id = #{id}
    </delete>
</mapper>
